* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Signika, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

strong {
  color: rgba(0, 0, 0, 0.75);
}

/*
@ - 600px:    Phone
600 - 900px:  Tablet Portrait
900 - 1200px:  Tablet LandScape
[1200 - 1800px:]  Normal Style
1800+       :  Big Desktop

$breakpoint:
-phone
-tab-port
-tab-land
-big-desktop
*/
.title {
  font-size: 4rem;
  font-weight: 100;
  text-align: center;
  letter-spacing: -0.2rem;
  color: rgba(0, 0, 0, 0.72);
  background-image: -webkit-gradient(linear, left top, right top, from(#55c0ec), to(#55c0ec));
  background-image: linear-gradient(to right, #55c0ec, #55c0ec);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 16rem 0.35rem;
  line-height: 5rem;
}

.button {
  display: -ms-grid;
  display: grid;
  border-radius: 0.5rem;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  background-color: white;
  width: 30rem;
  height: 7rem;
  overflow: hidden;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.button:hover img {
  -webkit-transform: scale(1.48) rotate(19deg);
          transform: scale(1.48) rotate(19deg);
}

.button img {
  margin-left: 2rem;
  width: 4rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.button span {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.64);
}

.header {
  background-color: #40596b;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 1.6rem 0;
  font-size: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 37.5em) {
  .header__list {
    font-size: 1.8rem;
  }
}

.header__list-items {
  padding: 0 0.75rem;
}

.header__list-items a {
  color: #ffd05a;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__list-items a:active {
  border: dotted 0.1px white;
}

.header__list-items a:hover {
  color: white;
}

.home {
  background-color: #55c0ec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: calc(100vh - 19.2rem);
  padding: 2rem 5rem 2rem 2rem;
}

@media only screen and (max-width: 47em) {
  .home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
  }
}

.home__left {
  display: -ms-grid;
  display: grid;
}

.home__left-title {
  font-size: 8rem;
  color: rgba(0, 0, 0, 0.64);
  font-weight: 100;
  letter-spacing: -0.3rem;
  padding-bottom: 2rem;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: -1.5rem;
}

.home__left-text {
  font-size: 2.8rem;
  padding-bottom: 2.5rem;
  color: #f4f4f4;
  line-height: 3.4rem;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  width: 75%;
}

@media only screen and (max-width: 37.5em) {
  .home__left-text {
    width: 90%;
  }
}

.home__left-button {
  -ms-grid-column-align: center;
      justify-self: center;
}

.home__left-button:hover {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.home__right-image {
  max-width: 40rem;
  height: auto;
  width: 100%;
  margin-right: 22rem;
  padding-left: 1.5rem;
}

@media only screen and (max-width: 47em) {
  .home__right-image {
    margin: 0;
    padding-top: 3rem;
    padding-left: 0;
  }
}

.scroll__up {
  height: 5rem;
  width: 5rem;
  background-color: #ffd05a;
  display: none;
  border-radius: 0.2rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
}

.scroll__up a {
  width: 4rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about {
  padding: 3rem;
  background-color: #fafafa;
}

.about .container {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr 1fr;
  grid-auto-rows: 1fr 1fr;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  padding: 0 15rem;
}

@media only screen and (max-width: 75em) {
  .about .container {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 47em) {
  .about .container {
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr 1fr 1fr;
    -webkit-column-gap: 0;
            column-gap: 0;
  }
}

.about__text {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.64);
}

@media only screen and (max-width: 37.5em) {
  .about__text {
    text-align: left;
  }
}

.about__text1 {
  padding-top: 4rem;
}

@media only screen and (max-width: 47em) {
  .about__text1 {
    grid-column: span;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

.about__text2 {
  padding-top: 4rem;
}

@media only screen and (max-width: 47em) {
  .about__text2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    padding-top: 2rem;
  }
}

.about__text3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  padding-top: 4rem;
}

@media only screen and (max-width: 47em) {
  .about__text3 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    padding-top: 0;
  }
}

.about__text3 span {
  font-style: italic;
}

.feature {
  padding: 3rem;
  background-color: #90ddaa;
}

@media only screen and (max-width: 37.5em) {
  .feature {
    padding: 3rem 0rem;
  }
}

.features {
  display: -ms-grid;
  display: grid;
}

.features__container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 5rem 0 6rem 0;
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: minmax(2rem, 11rem) 35rem 35rem 35rem minmax(2rem, 11rem);
      grid-template-columns: minmax(2rem, 11rem) 35rem 35rem 35rem minmax(2rem, 11rem);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
}

@media only screen and (max-width: 75em) {
  .features__container {
    -ms-grid-columns: minmax(0rem, 11rem) 32rem 32rem minmax(0rem, 11rem);
        grid-template-columns: minmax(0rem, 11rem) 32rem 32rem minmax(0rem, 11rem);
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -webkit-column-gap: 1.5rem;
            column-gap: 1.5rem;
    row-gap: 3rem;
  }
}

@media only screen and (max-width: 47em) {
  .features__container {
    -ms-grid-columns: minmax(0rem, 11rem) 35rem minmax(0rem, 11rem);
        grid-template-columns: minmax(0rem, 11rem) 35rem minmax(0rem, 11rem);
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 37.5em) {
  .features__container {
    -ms-grid-columns: minmax(0rem, 11rem) 32rem minmax(0rem, 11rem);
        grid-template-columns: minmax(0rem, 11rem) 32rem minmax(0rem, 11rem);
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
}

.features__container .card-1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

@media only screen and (max-width: 47em) {
  .features__container .card-1 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}

.features__container .card-2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

@media only screen and (max-width: 47em) {
  .features__container .card-2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

.features__container .card-3 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

@media only screen and (max-width: 75em) {
  .features__container .card-3 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    width: auto;
  }
}

@media only screen and (max-width: 47em) {
  .features__container .card-3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

.features__container .card__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  background-color: black;
  border-radius: 0.5rem 0.5rem 0 0;
}

.features__container .card__container-image {
  background-color: #40596b;
  height: 35rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -ms-grid;
  display: grid;
}

.features__container .card__container-image .img {
  width: 22.4rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.features__container .card__container-text {
  background-color: white;
  height: 13.8rem;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  color: rgba(0, 0, 0, 0.7);
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  line-height: 3rem;
}

.features__container .card__container-text .text {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.features__container .card__container-text .text a {
  color: blue;
}

.addToSlack {
  padding: 3rem 15rem;
}

@media only screen and (max-width: 75em) {
  .addToSlack {
    padding: 3rem 10rem;
  }
}

@media only screen and (max-width: 47em) {
  .addToSlack {
    padding: 3rem;
  }
}

.addToSlack .container3 {
  display: -ms-grid;
  display: grid;
}

.addToSlack-text {
  font-size: 2rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  width: 45%;
  color: rgba(0, 0, 0, 0.72);
  padding: 4rem 0;
}

@media only screen and (max-width: 75em) {
  .addToSlack-text {
    width: 55%;
  }
}

@media only screen and (max-width: 47em) {
  .addToSlack-text {
    width: 84%;
  }
}

@media only screen and (max-width: 37.5em) {
  .addToSlack-text {
    width: 90%;
  }
}

.addToSlack-button {
  background-color: #40596b;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 4rem 0;
}

.addToSlack-button span,
.addToSlack-button strong {
  color: #fafafa;
}

.addToSlack-button:hover {
  background-color: rgba(0, 0, 0, 0.64);
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.footer {
  background-color: #40596b;
  display: -ms-grid;
  display: grid;
  padding: 1.5rem;
}

.footer-text {
  line-height: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.7);
}
/*# sourceMappingURL=style.css.map */