////////////////////////////
////////////root////////////
////////////////////////////
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  // defines what 1rem is
  font-size: 62.5%; // 1rem =10px; 10px/16px = 62.5%
  scroll-behavior: smooth;
}

body {
  font-family: Signika, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

strong {
  color: rgba(0, 0, 0, 0.75);
}

//****************************//
//        Media Query         //
//****************************//
/*
@ - 600px:    Phone
600 - 900px:  Tablet Portrait
900 - 1200px:  Tablet LandScape
[1200 - 1800px:]  Normal Style
1800+       :  Big Desktop

$breakpoint:
-phone
-tab-port
-tab-land
-big-desktop
*/
// 1em = 16px
@mixin respond($breakpoint) {
  @if $breakpoint==phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }

    //600px
  }

  @if $breakpoint==tab-port {
    @media only screen and (max-width: 47em) {
      @content;
    }

    // 900px
  }

  @if $breakpoint==tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }

    //1200px
  }

  @if $breakpoint==sm {
    @media only screen and (max-width: 85.375em) {
      @content;
    }

    //1350px
  }
}

//****************************//
//         Variables          //
//****************************//
$backgroundColor: rgb(64, 89, 107);
$backgroundColor2: rgb(85, 192, 236);
$backgroundColor3: rgb(250, 250, 250);
$navTextColor: rgb(255, 208, 90);
$darkTextColor: rgba(0, 0, 0, 0.64);
$darkTextColor2: rgba(0, 0, 0, 0.72);

////////////////////////////
/////////components/////////
////////////////////////////
// title
.title {
  font-size: 4rem;
  font-weight: 100;
  text-align: center;
  letter-spacing: -0.2rem;
  color: $darkTextColor2;
  background-image: linear-gradient(to right,
    $backgroundColor2,
    $backgroundColor2);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 16rem 0.35rem;
  line-height: 5rem;
}

.button {
  display: grid;
  border-radius: 0.5rem;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  background-color: white;
  width: 30rem;
  height: 7rem;
  overflow: hidden;
  transition: 0.3s all ease-in-out;

  &:hover img {
    transform: scale(1.48) rotate(19deg);
  }

  img {
    margin-left: 2rem;
    width: 4rem;
    justify-self: center;
    align-self: center;
    transition: 0.3s all ease-in-out;
  }

  span {
    justify-self: start;
    align-self: center;
    font-size: 3rem;
    color: $darkTextColor;
  }
}

//****************************//
//           Header           //
//****************************//
.header {
  background-color: $backgroundColor;

  &__list {
    display: flex;
    list-style-type: none;
    padding: 1.6rem 0;
    font-size: 2rem;
    justify-content: center;
    align-items: center;

    @include respond(phone) {
      font-size: 1.8rem;
    }

    &-items {
      padding: 0 0.75rem;

      a {
        color: $navTextColor;
        transition: all 0.3s ease-in-out;

        &:active {
          border: dotted 0.1px white;
        }

        &:hover {
          color: white;
        }
      }
    }
  }
}

//****************************//
//            Home            //
//****************************//
.home {
  background-color: $backgroundColor2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: calc(100vh - 19.2rem);
  padding: 2rem 5rem 2rem 2rem;

  @include respond(tab-port) {
    flex-direction: column;
    padding: 2rem;
  }

  &__left {
    display: grid;

    &-title {
      font-size: 8rem;
      color: $darkTextColor;
      font-weight: 100;
      letter-spacing: -0.3rem;
      padding-bottom: 2rem;
      justify-self: center;
      margin-top: -1.5rem;
    }

    &-text {
      font-size: 2.8rem;
      padding-bottom: 2.5rem;
      color: #f4f4f4;
      line-height: 3.4rem;
      justify-self: center;
      text-align: center;
      width: 75%;

      @include respond(phone) {
        width: 90%;
      }
    }

    &-button {
      justify-self: center;

      &:hover {
        transition-delay: 0.4s;
        transform: scale(0.99);
      }
    }
  }

  &__right {
    &-image {
      max-width: 40rem;
      height: auto;
      width: 100%;
      margin-right: 22rem;
      padding-left: 1.5rem;

      @include respond(tab-port) {
        margin: 0;
        padding-top: 3rem;
        padding-left: 0;
      }
    }
  }
}

.scroll__up {
  height: 5rem;
  width: 5rem;
  background-color: $navTextColor;
  display: none;
  border-radius: 0.2rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;


  a {
    width: 4rem;
    justify-self: center;
    align-self: center;
  }


}


//****************************//
//           About            //
//****************************//
.about {
  padding: 3rem;
  background-color: $backgroundColor3;

  .container {
    display: grid;
    grid-auto-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
    column-gap: 2rem;
    padding: 0 15rem;

    @include respond(tab-land) {
      padding: 0 2rem;
    }

    @include respond(tab-port) {
      grid-auto-columns: 1fr;
      grid-auto-rows: 1fr 1fr 1fr;
      column-gap: 0;
    }
  }

  &__text {
    font-size: 2rem;
    color: $darkTextColor;

    @include respond(phone) {
      text-align: left;
    }
  }

  &__text1 {
    padding-top: 4rem;

    @include respond(tab-port) {
      grid-column: span;
      grid-row: 1/2;
    }
  }

  &__text2 {
    padding-top: 4rem;

    @include respond(tab-port) {
      grid-row: 2/3;
      padding-top: 2rem;
    }
  }

  &__text3 {
    grid-column: 1/3;
    padding-top: 4rem;

    @include respond(tab-port) {
      grid-row: 3/4;
      grid-column: 1/2;
      padding-top: 0;
    }

    span {
      font-style: italic;
    }
  }
}

//****************************//
//         Features           //
//****************************//
.feature {
  padding: 3rem;
  background-color: #90ddaa;

  @include respond(phone) {
    padding: 3rem 0rem;
  }
}

.features {
  display: grid;

  &__container {
    justify-content: center;
    align-content: center;
    padding: 5rem 0 6rem 0;
    display: grid;
    width: 100%;
    grid-template-columns: minmax(2rem, 11rem) 35rem 35rem 35rem minmax(2rem,
      11rem);
    grid-template-rows: 1fr;
    column-gap: 3rem;

    @include respond(tab-land) {
      grid-template-columns: minmax(0rem, 11rem) 32rem 32rem minmax(0rem, 11rem);
      grid-template-rows: 1fr 1fr;
      column-gap: 1.5rem;
      row-gap: 3rem;
    }

    @include respond(tab-port) {
      grid-template-columns: minmax(0rem, 11rem) 35rem minmax(0rem, 11rem);
      grid-template-rows: 1fr 1fr 1fr;
    }

    @include respond(phone) {
      grid-template-columns: minmax(0rem, 11rem) 32rem minmax(0rem, 11rem);
      grid-template-rows: 1fr 1fr 1fr;
    }

    .card-1 {
      grid-column: 2/3;
      grid-row: 1/2;

      @include respond(tab-port) {
        grid-column: 2/3;
      }
    }

    .card-2 {
      grid-column: 3/4;
      grid-row: 1/2;

      @include respond(tab-port) {
        grid-column: 2/3;
        grid-row: 2/3;
      }
    }

    .card-3 {
      grid-column: 4/5;

      @include respond(tab-land) {
        grid-row: 2/3;
        grid-column: 2/4;
        width: auto;
      }

      @include respond(tab-port) {
        grid-column: 2/3;
        grid-row: 3/4;
      }
    }

    .card__container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      background-color: black;
      border-radius: 0.5rem 0.5rem 0 0;

      &-image {
        background-color: rgb(64, 89, 107);
        height: 35rem;
        grid-row: 1/2;
        display: grid;

        .img {
          width: 22.4rem;
          justify-self: center;
          align-self: center;
        }
      }

      &-text {
        background-color: white;
        height: 13.8rem;
        grid-row: 2/3;
        color: rgba(0, 0, 0, 0.7);
        font-size: 2rem;
        text-align: center;
        padding: 2rem;
        display: grid;
        line-height: 3rem;

        .text {
          justify-self: center;
          align-self: center;

          a {
            color: blue;
          }
        }
      }
    }
  }
}

//****************************//
//         Add To Slack       //
//****************************//

.addToSlack {
  padding: 3rem 15rem;

  @include respond(tab-land) {
    padding: 3rem 10rem;
  }

  @include respond(tab-port) {
    padding: 3rem;
  }

  .container3 {
    display: grid;
  }

  &-text {
    font-size: 2rem;
    justify-self: center;
    align-self: center;
    text-align: center;
    width: 45%;
    color: $darkTextColor2;
    padding: 4rem 0;

    @include respond(tab-land) {
      width: 55%;
    }

    @include respond(tab-port) {
      width: 84%;
    }

    @include respond(phone) {
      width: 90%;
    }
  }

  &-button {
    background-color: $backgroundColor;
    justify-self: center;
    align-self: center;
    margin: 4rem 0;

    span,
    strong {
      color: $backgroundColor3;
    }

    &:hover {
      background-color: $darkTextColor;
      transform: scale(0.99);
    }
  }
}

//****************************//
//         Footer             //
//****************************//
.footer {
  background-color: $backgroundColor;
  display: grid;
  padding: 1.5rem;

  &-text {
    line-height: 2.5rem;
    justify-content: center;
    align-self: center;
    text-align: center;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.7);
  }
}